{% extends 'base.html' %}
{% load static %} 

{% block content %}        
    <!-- featured 
    ================================================== -->


    <section class="s-featured">
        <div class="row">
            <div class="col-full">                         


                <div class="featured-slider featured" data-aos="zoom-in">
                    {% for post in post|slice:":3" %}

                    <div class="featured__slide">
                        <div class="entry">
                            
                            <div class="entry__background" style="background-image:url('{{ post.image.url }}');"></div>
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="blog/{{ post.id }}">{{ post.category }}</a></span>

                                <h1><a href="blog/{{ post.id }}" title="">{{ trending.Title }}</a></h1>

                                <div class="entry__info">
                                    <ul class="entry__meta">
                                        
                                        <li>{{ post.published_date }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->
                    {% endfor %}     
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div>
    </section> <!-- end s-featured -->




<section class="s-content">
        
        <div class="row entries-wrap wide">
         {% for post in post %}
            <div class="entries">

                <article class="col-block">
                    
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href="blog/{{ post.id }}" class="item-entry__thumb-link">
                                <img src="{{ post.image.url }}" 
                                     srcset="{{ post.image.url }} 1x, {{ post.image.url }} 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">    
                            <div class="item-entry__cat">
                                <a href="blog/{{ post.id }}">{{ post.category }}</a> 
                            </div>
    
                            <h1 class="item-entry__title"><a href="blog/{{ post.id }}">{{ post.Title }}</a></h1>
                                
                            <div class="item-entry__date">
                                <a href="blog/{{ post.id }}">{{ post.published_date }}</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

              
            </div> <!-- end entries -->
            {% endfor %}
        </div> <!-- end entries-wrap -->

      

    </section> <!-- end s-content -->
    {% if is_paginated %}
<div class="row pagination-wrap">
    <div class="col-full">
        <nav class="pgn" data-aos="fade-up">
            <ul>
                {% if page_obj.has_previous %}
                    <li>
                        <a  class="pgn__prev" href="?page={{ page_obj.previous_page_number }}"</a>
                    </li>
                {% else %}
                    
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li>
                            <a class="pgn__num current">{{ i }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a class="pgn__num" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li>
                        <a  class="pgn__next" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}

{% endblock %}