{% extends 'base.html' %}
{% load static %} 

{% block content %}        

<div class="row">
        {% for post in post %}
                        <!-- Single Post -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-post style-3">
                                <div class="post-thumb">
                                    <a href="{% url 'blog:blog-details'  post.slug %}"><img class='blogimg' src="{{ post.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{{ post.category.get_absolute_url }}" class="post-catagory">{{ post.category }}</a>
                                    <a href="{% url 'blog:blog-details'  post.slug %}" class="post-title">
                                        <h6>{{ post.Title }}</h6>
                                    </a>
                                    {% comment %} <div class="post-meta d-flex align-items-center">
                                        <a href="#" class="post-like"><img src="img/core-img/like.png" alt=""> <span>392</span></a>
                                        <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt=""> <span>10</span></a>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
        {% endfor %}
</div>
</br> </br>
{% if is_paginated %}   
 <div class="pager d-flex align-items-center justify-content-between">
    {% if page_obj.has_previous %}
        <div class="prev">
            <a href="?page={{ page_obj.previous_page_number }}" class="active"><i class="fa fa-angle-left"></i> previous</a>
        </div>
    {% else %}
    {% endif %}
    {% if page_obj.has_next %}
        <div class="next">
            <a href="?page={{ page_obj.next_page_number }}">Next <i class="fa fa-angle-right"></i></a>
        </div>
    {% else %}

    {% endif %}
</div>
{% endif %}    

    </section> <!-- end s-content -->

{% endblock %}