{% extends 'base.html' %}
{% load static %} 

{% for post in post|slice:":3" %}

    <section class="s-featured">
        <div class="row">
            <div class="col-full">                         


                <div class="featured-slider featured" data-aos="zoom-in">

                    <div class="featured__slide">
                        <div class="entry">
                            
                            <div class="entry__background" style="background-image:url('{{ post.image.url }}');"></div>
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">{{ post.category }}</a></span>

                                <h1><a href="#0" title="">{{ trending.Title }}</a></h1>

                                <div class="entry__info">
                                    <ul class="entry__meta">
                                        
                                        <li>{{ post.published_date }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->

                     <div class="featured__slide">

                        <div class="entry">
                            
                            <div class="entry__background" style="background-image:url('{{ post.image.url }}');"></div>
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">{{ post.category }}</a></span>

                                <h1><a href="#0" title="">{{ trending.Title }}</a></h1>

                                <div class="entry__info">
                                    <ul class="entry__meta">
                                        
                                        <li>{{ post.published_date }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry">
                            
                            <div class="entry__background" style="background-image:url('{{ post.image.url }}');"></div>
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">{{ post.category }}</a></span>

                                <h1><a href="#0" title="">{{ trending.Title }}</a></h1>

                                <div class="entry__info">
                                    <ul class="entry__meta">
                                        
                                        <li>{{ post.published_date }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                    </div> <!-- end featured__slide -->
                     
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div>
    </section> <!-- end s-featured -->

{% endfor %} 
{% block content %}
{% endblock %}