{% load blog_tasks %}
{% load i18n %}
{% block extra_head %}
    {% if canonical %}
        <link rel="canonical" href="{{ canonical }}" />
    {% endif %}
{% endblock %}
{% block content %}

        <div class="card mt-0 mb-5">
            <div class="card-body pb-3">
                <h1 class="card-title h2">{% trans "Category" %}: {{ category.title|title }}</h1>
            </div>
        </div>

    {% for post in posts %}
        <div class="card mt-0 mb-5">
                <a href="{{ post.get_absolute_url }}" title="{{ post.Title|capfirst }}">
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.Title|capfirst }}">
                </a>
            <div class="card-body pl-5 pr-5 pb-4 pt-4">
                <h2 class="card-title mt-2"><a href="{{ post.get_absolute_url }}" class="text-dark">{{ post.title|capfirst }}</a></h2>
                <p class="card-text mt-4">{{ post.body|striptags|truncatewords_html:50 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-light mt-4 mb-2"><strong>{% trans "Continue reading" %}</strong></a>
            </div>
            <div class="card-footer text-muted">
                    {{ post.publish|date:"M d, Y" }} &nbsp;&nbsp;
                    <span class="badge badge-secondary">
                        <a href="{% url 'blog:post_list_by_category' post.category.slug %}" class="text-white">{{ post.category }}</a>
                    </span>
                    {% for tag in post.tags.all %}
                        <span class="badge badge-light">
                            <a href="{% url 'blog:post_list_by_tag' tag.slug %}" class="text-dark">#{{ tag.name }}</a>
                        </span>
                    {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
